body {
  background-color: #f2f2f2;
}
.menu-translate,
main,
footer {
  transform: translateY(0px);
  transition: all 2s;
}
.mobile-menu-open {
  transform: translateY(218px);
  transition: all 2s;
}
.inner {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-top: none;
  border-bottom: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
h2,
p,
h3 {
  padding: 0;
  margin: 0;
}
.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  list-style: none;
  padding: 0 5px;
  margin: 0;
}
.mobile-menu__item {
  display: block;
  text-align: center;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
}
.mobile-menu__item a {
  width: 100%;
  display: block;
  color: white;
  background: #81b3d2;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px 0;
}
.mobile-menu__item a:hover {
  background: #669ec0;
  transition: all 0.3s;
}
.mobile-menu__item a:active {
  background: #5496bd;
  color: #94b9d2;
}
.mobile-menu__item:first-child {
  border-top: none;
}
.mobile-menu__item:last-child a {
  border-bottom: none;
  box-shadow: inset 0px -4px 5px -2px #6c96b0;
}
.mobile-menu__item--close i {
  position: absolute;
  top: 17px;
  right: 20px;
  content: "";
  width: 23px;
  height: 22px;
  background: url("/Sedona-Adaptive-/graph/img/icon-cross.svg") no-repeat 0 0;
  cursor: pointer;
}
.main-menu {
  background: white;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  z-index: 10;
}
.main-menu__item {
  display: inline-block;
  width: 20%;
  text-align: center;
  margin-right: -4px;
  vertical-align: top;
}
.main-menu__item a {
  display: block;
  padding: 20px 0;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}
.main-menu__item a:hover {
  color: #81b3d2;
  transition: all 0.3s;
}
.main-menu__item a:active {
  color: #cacaca;
}
.main-menu__item--img {
  background: url("/Sedona-Adaptive-/graph/img/header-logo-sedona.png") no-repeat 50% 0;
  height: 70px;
}
.main-menu__item--open {
  display: none;
  position: absolute;
  top: 15px;
  right: 20px;
  width: 30px;
  height: 4px;
  background-color: #81b3d2;
  cursor: pointer;
}
.main-menu__item--open:after {
  content: '';
  position: absolute;
  top: 10px;
  width: 30px;
  height: 4px;
  background: #81b3d2;
}
.main-menu__item--open:before {
  content: '';
  position: absolute;
  top: 20px;
  width: 30px;
  height: 4px;
  background-color: #81b3d2;
}
.main-menu__item--open:hover,
.main-menu__item--open:hover:after,
.main-menu__item--open:hover:before {
  background: #669ec0;
}
.header-logo img {
  max-width: 100%;
  position: relative;
  top: -10px;
  z-index: 5;
}
/* .header-logo {
    background: url("/Sedona-Adaptive-/graph/img/header-bg-sedona.jpg") no-repeat 0 0;
    height: auto;
    max-width: 100%;
} */
.promo {
  padding: 60px 0;
}
.promo__title {
  width: 50%;
  /* 50% */
  /* 500px */
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
}
.promo__text {
  margin-bottom: 55px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  font-size: 14px;
  line-height: 26px;
}
.features {
  text-transform: uppercase;
}
.features__bg {
  background: url("/Sedona-Adaptive-/graph/pict/main-bg-1.jpg") no-repeat 100% 0;
}
.features__bg--2 {
  background: url("/Sedona-Adaptive-/graph/pict/main-bg-2.jpg") no-repeat 0 0;
}
.features__block {
  float: left;
  width: 34%;
  max-height: 255px;
  padding: 50px 5% 65px 5%;
  text-align: center;
  background: #81b3d2;
  color: white;
  box-sizing: border-box;
}
.features__block--2 {
  float: right;
}
.features__title {
  margin-bottom: 10px;
  font-size: 21px;
  line-height: 26px;
}
.features__number {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 21px;
}
.features__intro {
  font-size: 14px;
  line-height: 21px;
}
.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.features-list__item {
  display: inline-block;
  width: 33%;
  text-align: center;
  box-sizing: border-box;
  padding: 60px 5% 85px 5%;
  vertical-align: top;
  margin-right: -4px;
}
.features-list img {
  margin-bottom: 25px;
}
.features-list__title {
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 20px;
}
.features-list__content,
.features-list__number {
  font-size: 14px;
  line-height: 21px;
}
.features-list__number {
  display: block;
  margin-bottom: 20px;
}
.features-list--bg {
  background: #eeeeee;
}
.features-list--bg .features-list__item {
  padding-bottom: 55px;
  padding-top: 50px;
}
footer {
  text-transform: uppercase;
}
footer .inner {
  background: url("/Sedona-Adaptive-/graph/img/footer-map-1280.jpg") no-repeat 0 265px white;
}
footer h2 {
  width: 100%;
  margin-bottom: 35px;
  text-align: center;
  font-size: 30px;
  line-height: 26px;
}
footer p {
  width: 500px;
  /* 34% */
  /* 450px */
  min-height: 70px;
  margin: 0 auto;
  margin-bottom: 45px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}
.form__header {
  width: 570px;
  padding: 30px 0;
  margin: 0 auto;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  color: white;
  font-weight: bold;
  background: #766357;
  box-shadow: 0px 3px 10px 0px grey;
}
.form {
  width: 570px;
  /* 47% */
  /*     min-height: 400px; */
  padding: 60px 45px 55px 50px;
  margin: 0 auto;
  margin-bottom: 80px;
  box-sizing: border-box;
  background: white;
  box-shadow: 0px 3px 10px -2px grey;
}
.form__input-text {
  display: block;
  text-align: left;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 30px;
}
.form__input-text input[type='text'] {
  display: inline-block;
  width: 350px;
  box-sizing: border-box;
  padding: 10px 15px;
  margin-left: 10px;
  background: url("/Sedona-Adaptive-/graph/img/icon-calendar.svg") no-repeat 97.5% 50% #f2f2f2;
  border: none;
}
.form__input-text input[type='text']:hover {
  background-image: url("/Sedona-Adaptive-/graph/img/icon-calendar-hover.svg");
  background-color: #ebebeb;
}
.form__input-counter {
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  position: relative;
  margin-bottom: 55px;
}
.form__input-counter input {
  width: 120px;
  text-align: center;
  background: #f2f2f2;
  border: none;
  box-sizing: border-box;
  padding: 10px 15px;
}
.form__input-counter input:hover {
  background-color: #ebebeb;
}
.form__input-counter input[name="adult"] {
  margin-left: 40px;
  margin-right: 20px;
}
.form__input-counter input[name="child"] {
  margin-left: 35px;
}
.form__plus-icon {
  position: absolute;
  top: 13px;
  width: 10px;
  height: 10px;
  background: url("/Sedona-Adaptive-/graph/img/icon-plus.svg") no-repeat 0 0;
}
.form__plus-icon:hover {
  background-image: url("/Sedona-Adaptive-/graph/img/icon-plus-hover.svg");
}
.form__plus-icon:active {
  background-image: url("/Sedona-Adaptive-/graph/img/icon-plus-down.svg");
}
input[name="adult"] ~ .form__plus-icon {
  left: 210px;
}
input[name="child"] ~ .form__plus-icon {
  left: 173px;
}
.form__minus-icon {
  position: absolute;
  top: 17px;
  width: 10px;
  height: 10px;
  background: url("/Sedona-Adaptive-/graph/img/icon-minus.svg") no-repeat 0 0;
}
.form__minus-icon:hover {
  background-image: url("/Sedona-Adaptive-/graph/img/icon-minus-hover.svg");
}
.form__minus-icon:active {
  background-image: url("/Sedona-Adaptive-/graph/img/icon-minus-down.svg");
}
input[name="adult"] ~ .form__minus-icon {
  left: 130px;
}
input[name="child"] ~ .form__minus-icon {
  left: 90px;
}
.form input[name="income-date"] {
  margin-left: 14px;
}
.form__btn {
  display: block;
  width: 460px;
  padding: 17px 0;
  background: #81b3d2;
  border: none;
  color: white;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
.form__btn:hover {
  background: #669ec0;
  transition: all 0.3s;
}
.form__btn:active {
  background: #5496bd;
  color: #94b9d2;
}
.contacts {
  padding: 35px 0;
}
.contacts__logo,
.contacts__social,
.contacts__author {
  display: inline-block;
  vertical-align: middle;
  width: 33%;
  margin-right: -4px;
  text-align: center;
}
.contacts__logo {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  cursor: pointer;
}
.contacts__logo:hover {
  color: #81b3d2;
  transition: all 0.3s;
}
.contacts__social-buttons {
  margin-right: 2px;
  display: inline-block;
  width: 46px;
  height: 48px;
  background: #81b3d2;
}
.contacts__social-buttons:hover {
  background-color: #669ec0;
  transition: all 0.3s;
}
.contacts__social-buttons--tw {
  background: url("/Sedona-Adaptive-/graph/img/footer-social_icon-tw.png") no-repeat 50% 50% #81b3d2;
}
.contacts__social-buttons--tw:active {
  background: url("/Sedona-Adaptive-/graph/img/footer-social_icon-tw-down.png") no-repeat 50% 50% #81b3d2;
}
.contacts__social-buttons--fb {
  background: url("/Sedona-Adaptive-/graph/img/footer-social_icon-fb.png") no-repeat 50% 50% #81b3d2;
}
.contacts__social-buttons--fb:active {
  background: url("/Sedona-Adaptive-/graph/img/footer-social_icon-fb-down.png") no-repeat 50% 50% #81b3d2;
}
.contacts__social-buttons--yt {
  background: url("/Sedona-Adaptive-/graph/img/footer-social_icon-yt.png") no-repeat 50% 50% #81b3d2;
}
.contacts__social-buttons--yt:active {
  background: url("/Sedona-Adaptive-/graph/img/footer-social_icon-yt-down.png") no-repeat 50% 50% #81b3d2;
}
.contacts span {
  display: inline-block;
  padding-right: 50px;
  font-size: 14px;
  line-height: 33px;
}
.contacts span:nth-child(1) {
  background: url("/Sedona-Adaptive-/graph/pict/logo-htmlacademy.svg") no-repeat 90% 0;
}
.contacts span:nth-child(1):hover {
  background-image: url("/Sedona-Adaptive-/graph/pict/logo-htmlacademy%20-%20hover.svg");
}
.contacts span:nth-child(1):active {
  background-image: url("/Sedona-Adaptive-/graph/pict/logo-htmlacademy-down.svg");
}
.contacts span:nth-child(2) {
  background: url("/Sedona-Adaptive-/graph/pict/logo-glukhanko.svg") no-repeat 75% 1px;
}
.contacts span:nth-child(2):hover {
  background: url("/Sedona-Adaptive-/graph/pict/logo-glukhanko-hover.svg") no-repeat 75% 1px;
}
.contacts span:nth-child(2):active {
  background: url("/Sedona-Adaptive-/graph/pict/logo-glukhanko-down.svg") no-repeat 75% 1px;
}
@media (max-width: 600px) {
  /*    .menu-translate,
    main,
    footer{
        transform: translateY(0);
        transition: all 2s;
    } */
  .mobile-menu {
    display: block;
  }
  .main-menu__item {
    display: none;
  }
  .main-menu__item--img {
    width: 100%;
    display: block;
  }
  .main-menu__item--open {
    display: block;
  }
  .promo__title {
    width: 80%;
  }
  .features__bg,
  .features__bg--2 {
    min-height: 490px;
    background-position: 100% 100%;
  }
  .features__block {
    float: none;
    width: 100%;
  }
  .features-list {
    padding: 25px 0;
  }
  .features-list__item {
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .features-list img {
    position: absolute;
    top: 15px;
    left: 15px;
  }
  .features-list__title,
  .features-list__content {
    text-align: left;
    margin-left: 85px;
  }
  .features-list--bg {
    padding: 0;
  }
  .features-list--bg .features-list__item {
    padding-bottom: 0;
    padding-top: 30px;
  }
  .features-list--bg .features-list__item .features-list__title,
  .features-list--bg .features-list__item .features-list__content {
    text-align: center;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 30px;
  }
  .features-list--bg .features-list__item .features-list__content {
    padding-bottom: 30px;
    border-bottom: 1px solid #d6d6d6;
  }
  .features-list--bg .features-list__item .features-list__title {
    margin-bottom: 0;
    padding-bottom: 15px;
  }
  footer p {
    width: 80%;
  }
  .form__header {
    width: 80%;
  }
  .form {
    width: 80%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 70px;
  }
  .form__btn {
    width: 100%;
  }
  .form__input-text input[type='text'] {
    width: 100%;
    margin-left: 0;
  }
  .form__input-counter {
    width: 30%;
    margin-right: -4px;
    margin-bottom: 20px;
  }
  .form__input-counter input[name="child"],
  .form__input-counter input[name="adult"] {
    margin-left: 0;
  }
  .form__input-counter input[name="child"] {
    /*       margin-right: 45px; */
  }
  .form__input-counter--1 {
    margin-right: 25%;
  }
  .form__plus-icon {
    z-index: 100;
    top: 39px;
  }
  input[name="adult"] ~ .form__plus-icon {
    left: 95px;
  }
  input[name="child"] ~ .form__plus-icon {
    left: 95px;
  }
  .form__minus-icon {
    z-index: 100;
    top: 43px;
  }
  input[name="adult"] ~ .form__minus-icon {
    left: 15px;
  }
  input[name="child"] ~ .form__minus-icon {
    left: 15px;
  }
  .contacts__logo,
  .contacts__social {
    width: 49%;
    margin-bottom: 30px;
  }
  .contacts__author {
    width: 100%;
  }
}
@media (max-width: 420px) {
  footer .inner {
    background-image: none;
  }
  footer p {
    width: 80%;
  }
  .form__header {
    width: 100%;
  }
  .form {
    width: 100%;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 0;
    /*         padding-left: 20px;
        padding-right: 20px; */
  }
  .form__input-text input[type='text'] {
    width: 100%;
    margin-left: 0;
  }
  .contacts__logo,
  .contacts__social {
    width: 100%;
    margin-bottom: 30px;
  }
  .contacts__author {
    width: 100%;
  }
}
