footer {
    text-transform: uppercase;
    .inner{
    background: url("/Sedona-Adaptive-/graph/img/footer-map-1280.jpg") no-repeat 0 265px;
    }
    h2 {
        margin-bottom: 35px;
        text-align: center;
        font-size: 30px;
        line-height: @line-height-26;
    }
    p {
        width: 450px; /* 34% */
        min-height: 70px;
        margin: 0 auto;
        margin-bottom: 45px;
        text-align: center;
        font-size: @font-size-14;
        line-height: 24px;
    }
}

.form__header {
    width: 570px;
    padding: 30px 0;
    margin: 0 auto;
    text-align: center;
    font-size: @font-size-21;
    line-height: @line-height-26;
    color: white;
    font-weight: @font-bold;
    background: #766357;
}
.form {
    width: 570px; /* 47% */
    min-height: 400px;
    padding: 60px 4.5% 55px 4.5%;
    margin: 0 auto;
    margin-bottom: 80px;
    box-sizing: border-box;
    background: white;
    border: 1px solid grey;
}

.contacts {
    padding: 35px 0;
    &__logo,
    &__social,
    &__author{
        display: inline-block;
        vertical-align: middle;
        width: 33%;
        margin-right: -4px;
        text-align: center;
    }
    &__logo {
        font-weight: @font-bold;
        font-size: @font-size-21;
        line-height: @line-height-26;
    }
    &__social-buttons{
        margin-right: 2px;
        display: inline-block;
        width: 46px;
        height: 48px;
        background: #81b3d2;
    }
    span {
        display: inline-block;
        padding-right: 50px;
        font-size: @font-size-14;
        line-height: 33px;
    }
    span:nth-child(1) {
        background: url("/Sedona-Adaptive-/graph/pict/logo-htmlacademy.svg") no-repeat 90% 0;
    }
    span:nth-child(2) {
        background: url("/Sedona-Adaptive-/graph/pict/logo-glukhanko.svg") no-repeat 75% 1px;
    }
}